name: build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Get Repo Owner
        id: get_repo_owner
        run: echo "REPO_OWNER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" > $GITHUB_ENV

      - name: Build multi-arch containers for validation only
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          outputs: "type=image,push=false"
          build-args: |
            VERSION=latest-dev
            GIT_COMMIT=${{ github.sha }}
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ env.REPO_OWNER }}/ingress-operator:${{ github.sha }}

